<header>
  <h1>Security App</h1>
</header>
<nav>
  <a routerLink="/">Home</a>
  <a routerLink="/component1">Component 1</a>
  <a routerLink="/component2">Component 2</a>

  <a routerLink="/component2.1">Component 2.1</a>
  <a routerLink="/component2.2">Component 2.2</a>
  <a routerLink="/component2.3">Component 2.3</a>

  <a routerLink="/component2.3.1">Component 2.3.1</a>
  <a routerLink="/component2.3.2">Component 2.3.2</a>
  <a routerLink="/component2.3.3">Component 2.3.3</a>



  <a routerLink="/component3">Component 3</a>
  <a routerLink="/ViewTreePermission">Ver arbol de permisos</a>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
